body{
  width: 400px;
  margin: 0 auto;
}
#board{
  width: 100%;
  font-size: 2.5em;

  tr{
    td{
      height: 1.2em;
      width: 25%;
      border: 1px solid black;
      text-align: center;
      font-weight: bold;
      position: relative;
      border-radius: 4px;
      box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.48);

      &:hover{
        .up, .down { visibility: visible; }
      }
      .up, .down {
        text-decoration: none;
        font-size: 0.25em;
        line-height: 5em;
        position: absolute;
        visibility: hidden;
        color: blue;
      }
      .up {
        top:0;
        left: 0;
        &:before{ content:"\25B2";}
      }
      .down {
        top:0;
        right: 0;
        &:before{ content:"\25BC";}
      }
    }
  }
}
